@{
    ViewData["Title"] = "Eko Biashara | Business Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="layout-px-spacing ml-2">

    <div class="row layout-top-spacing">

<<<<<<< HEAD
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget shadow widget-chart-one">
                <div class="widget-heading">
                    <h5 class="">Perfomance Indicator</h5>
                    <ul class="tabs tab-pills">
                        <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Yearly</a></li>
                        <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Monthly</a></li>
                        <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Daily</a></li>
                    </ul>
                </div>

                <div class="widget-content">
                    <div class="tabs tab-content">
                        <div id="content_1" class="tabcontent">
                            <div id="revenueMonthly"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget-three shadow">
                <div class="widget-heading">

                    <h5 class="">Profit Loss Break Down</h5>

                </div>

                <div class="widget-content">

                    <div class="order-summary">

                        <div class="summary-list">
                            <div class="w-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                            </div>

                            <div class="w-summary-details">

                                <div class="w-summary-info">
                                    <h6>Revenues</h6>
                                    <p class="summary-count">Kshs 9,000</p>
                                </div>



                            </div>

                        </div>

                        <div class="summary-list">
                            <div class="w-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
                            </div>
                            <div class="w-summary-details">

                                <div class="w-summary-info">
                                    <h6>Cost Of Sales</h6>
                                    <p class="summary-count">Kshs 37,515</p>
                                </div>



                            </div>

                        </div>

                        <div class="summary-list">
                            <div class="w-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
                            </div>
                            <div class="w-summary-details">

                                <div class="w-summary-info">
                                    <h6>Expenses</h6>
                                    <p class="summary-count">Kshs 55,085</p>
                                </div>



                            </div>

                        </div>
                        <div class="summary-list">
                            <div class="w-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
                            </div>
                            <div class="w-summary-details">

                                <div class="w-summary-info">
                                    <h6>Net Profit</h6>
                                    <p class="summary-count">Kshs 55,085</p>
                                </div>


                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing invoice ">
            <div class="app-hamburger-container shadow widget">
                <div class="row">
                    <h4 class="col-md-9">Pending Invoices</h4>
                    <div class="col-md-3">

                    </div>
                </div>

                <div class="hamburger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu chat-menu d-xl-none"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></div>
            </div>
            <div class="doc-container">
                <div class="tab-title">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="search">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <ul class="nav nav-pills inv-list-container d-block" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <div class="nav-link list-actions" id="invoice-00001" data-invoice-id="00001">
                                        <div class="f-m-body">
                                            <div class="f-head">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                            </div>
                                            <div class="f-body">
                                                <p class="invoice-number">Invoice #00001</p>
                                                <p class="invoice-customer-name"><span>To:</span> Edwin Mong'are</p>
                                                <p class="invoice-generated-date">Date: 12 Apr 2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <div class="nav-link list-actions" id="invoice-00002" data-invoice-id="00002">
                                        <div class="f-m-body">
                                            <div class="f-head">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                            </div>
                                            <div class="f-body">
                                                <p class="invoice-number">Invoice #00002</p>
                                                <p class="invoice-customer-name"><span>To:</span> Allan Koech</p>
                                                <p class="invoice-generated-date">Date: 13 Apr 2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
=======
        <div class="widget widget-account-invoice-one">

            <div class="widget-heading">
                <h5 class="">Account Info</h5>
            </div>

            <div class="widget-content">
                <div class="invoice-box">

                    <div class="acc-total-info">
                        <h5>Total Balance</h5>
                        <p class="acc-amount">Kshs 47,000</p>
                    </div>

                    <div class="inv-detail">
                        <div class="info-detail-1">
                            <p>Today's Earnings</p>
                            <p>Kshs 11,000</p>
                        </div>
                        <div class="info-detail-2">
                            <p>Taxes Paid</p>
                            <p>Kshs 170.82</p>
                        </div>
                        <div class="info-detail-3 info-sub">
                            <div class="info-detail">
                                <p>Discounts Given</p>
                                <p>Kshs 300</p>
                            </div>

>>>>>>> 8d4436eda532d4ecd69a3c9dcee16a7bea0dd548
                        </div>
                    </div>

<<<<<<< HEAD
                <div class="invoice-container">
                    <div class="invoice-inbox">

                        <div class="inv-not-selected">
                            <p>Open an invoice from the list.</p>
                        </div>

                        <div class="invoice-header-section">
                            <h4 class="inv-number"></h4>
                            <div class="invoice-action">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer action-print" data-toggle="tooltip" data-placement="top" data-original-title="Reply"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>
                            </div>
                        </div>

                        <div id="ct" class="">

                            <div class="invoice-00001">
                                <div class="content-section  animated animatedFadeInUp fadeInUp">

                                    <div class="row inv--head-section">

                                        <div class="col-sm-6 col-12">
                                            <h3 class="in-heading">INVOICE</h3>
                                        </div>
                                        <div class="col-sm-6 col-12 align-self-center text-sm-right">
                                            <div class="company-info">
                                                <img src="~/assets/img/logo_green.png" style="height:70px; width:70px;" alt="" />
                                                <h5 class="inv-brand-name ml-2"> My Business One</h5>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row inv--detail-section">

                                        <div class="col-sm-7 align-self-center">
                                            <p class="inv-to">Invoice To</p>
                                        </div>
                                        <div class="col-sm-5 align-self-center  text-sm-right order-sm-0 order-1">
                                            <p class="inv-detail-title">From : XYZ Company</p>
                                        </div>

                                        <div class="col-sm-7 align-self-center">
                                            <p class="inv-customer-name">Jesse Cory</p>
                                            <p class="inv-street-addr">405 Mulberry Rd. Mc Grady, NC, 28649</p>
                                            <p class="inv-email-address">redq@company.com</p>
                                        </div>
                                        <div class="col-sm-5 align-self-center  text-sm-right order-2">
                                            <p class="inv-list-number"><span class="inv-title">Invoice Number : </span> <span class="inv-number">[invoice number]</span></p>
                                            <p class="inv-created-date"><span class="inv-title">Invoice Date : </span> <span class="inv-date">20 Aug 2019</span></p>
                                            <p class="inv-due-date"><span class="inv-title">Due Date : </span> <span class="inv-date">26 Aug 2019</span></p>
                                        </div>
                                    </div>

                                    <div class="row inv--product-table-section">
                                        <div class="col-12">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="">
                                                        <tr>
                                                            <th scope="col">S.No</th>
                                                            <th scope="col">Items</th>
                                                            <th class="text-right" scope="col">Qty</th>
                                                            <th class="text-right" scope="col">Unit Price</th>
                                                            <th class="text-right" scope="col">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Electric Shaver</td>
                                                            <td class="text-right">20</td>
                                                            <td class="text-right">$300</td>
                                                            <td class="text-right">$2800</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Earphones</td>
                                                            <td class="text-right">49</td>
                                                            <td class="text-right">$500</td>
                                                            <td class="text-right">$7000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Wireless Router</td>
                                                            <td class="text-right">30</td>
                                                            <td class="text-right">$500</td>
                                                            <td class="text-right">$3500</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-sm-5 col-12 order-sm-0 order-1">
                                            <div class="inv--payment-info">
                                                <div class="row">
                                                    <div class="col-sm-12 col-12">
                                                        <h6 class=" inv-title">Payment Info:</h6>
                                                    </div>
                                                    <div class="col-sm-4 col-12">
                                                        <p class=" inv-subtitle">Bank Name: </p>
                                                    </div>
                                                    <div class="col-sm-8 col-12">
                                                        <p class="">Bank of America</p>
                                                    </div>
                                                    <div class="col-sm-4 col-12">
                                                        <p class=" inv-subtitle">Account Number : </p>
                                                    </div>
                                                    <div class="col-sm-8 col-12">
                                                        <p class="">1234567890</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7 col-12 order-sm-1 order-0">
                                            <div class="inv--total-amounts text-sm-right">
                                                <div class="row">
                                                    <div class="col-sm-8 col-7">
                                                        <p class="">Sub Total: </p>
                                                    </div>
                                                    <div class="col-sm-4 col-5">
                                                        <p class="">$13300</p>
                                                    </div>
                                                    <div class="col-sm-8 col-7">
                                                        <p class="">Tax Amount: </p>
                                                    </div>
                                                    <div class="col-sm-4 col-5">
                                                        <p class="">$700</p>
                                                    </div>
                                                    <div class="col-sm-8 col-7">
                                                        <p class=" discount-rate">Discount : <span class="discount-percentage">5%</span> </p>
                                                    </div>
                                                    <div class="col-sm-4 col-5">
                                                        <p class="">$700</p>
                                                    </div>
                                                    <div class="col-sm-8 col-7 grand-total-title">
                                                        <h4 class="">Grand Total : </h4>
                                                    </div>
                                                    <div class="col-sm-4 col-5 grand-total-amount">
                                                        <h4 class="">$14000</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="invoice-00002">
                                <div class="content-section  animated animatedFadeInUp fadeInUp">

                                    <div class="row inv--head-section">

                                        <div class="col-sm-6 col-12">
                                            <h3 class="in-heading">INVOICE</h3>
                                        </div>
                                        <div class="col-sm-6 col-12 align-self-center text-sm-right">
                                            <div class="company-info">
                                                <img src="~/assets/img/logo_green.png" style="height:70px; width:70px;" alt="" />
                                                <h5 class="inv-brand-name ml-2"> My Business Two</h5>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row inv--detail-section">

                                        <div class="col-sm-7 align-self-center">
                                            <p class="inv-to">Invoice To</p>
                                        </div>
                                        <div class="col-sm-5 align-self-center  text-sm-right order-sm-0 order-1">
                                            <p class="inv-detail-title">From : XYZ Company</p>
                                        </div>

                                        <div class="col-sm-7 align-self-center">
                                            <p class="inv-customer-name">Jesse Cory</p>
                                            <p class="inv-street-addr">405 Mulberry Rd. Mc Grady, NC, 28649</p>
                                            <p class="inv-email-address">redq@company.com</p>
                                        </div>
                                        <div class="col-sm-5 align-self-center  text-sm-right order-2">
                                            <p class="inv-list-number"><span class="inv-title">Invoice Number : </span> <span class="inv-number">[invoice number]</span></p>
                                            <p class="inv-created-date"><span class="inv-title">Invoice Date : </span> <span class="inv-date">20 Aug 2019</span></p>
                                            <p class="inv-due-date"><span class="inv-title">Due Date : </span> <span class="inv-date">26 Aug 2019</span></p>
                                        </div>
                                    </div>

                                    <div class="row inv--product-table-section">
                                        <div class="col-12">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="">
                                                        <tr>
                                                            <th scope="col">S.No</th>
                                                            <th scope="col">Items</th>
                                                            <th class="text-right" scope="col">Qty</th>
                                                            <th class="text-right" scope="col">Unit Price</th>
                                                            <th class="text-right" scope="col">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Electric Shaver</td>
                                                            <td class="text-right">20</td>
                                                            <td class="text-right">$300</td>
                                                            <td class="text-right">$2800</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Earphones</td>
                                                            <td class="text-right">49</td>
                                                            <td class="text-right">$500</td>
                                                            <td class="text-right">$7000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Wireless Router</td>
                                                            <td class="text-right">30</td>
                                                            <td class="text-right">$500</td>
                                                            <td class="text-right">$3500</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-sm-5 col-12 order-sm-0 order-1">
                                            <div class="inv--payment-info">
                                                <div class="row">
                                                    <div class="col-sm-12 col-12">
                                                        <h6 class=" inv-title">Payment Info:</h6>
                                                    </div>
                                                    <div class="col-sm-4 col-12">
                                                        <p class=" inv-subtitle">Bank Name: </p>
                                                    </div>
                                                    <div class="col-sm-8 col-12">
                                                        <p class="">Bank of America</p>
                                                    </div>
                                                    <div class="col-sm-4 col-12">
                                                        <p class=" inv-subtitle">Account Number : </p>
                                                    </div>
                                                    <div class="col-sm-8 col-12">
                                                        <p class="">1234567890</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7 col-12 order-sm-1 order-0">
                                            <div class="inv--total-amounts text-sm-right">
                                                <div class="row">
                                                    <div class="col-sm-8 col-7">
                                                        <p class="">Sub Total: </p>
                                                    </div>
                                                    <div class="col-sm-4 col-5">
                                                        <p class="">$13300</p>
                                                    </div>
                                                    <div class="col-sm-8 col-7">
                                                        <p class="">Tax Amount: </p>
                                                    </div>
                                                    <div class="col-sm-4 col-5">
                                                        <p class="">$700</p>
                                                    </div>
                                                    <div class="col-sm-8 col-7">
                                                        <p class=" discount-rate">Discount : <span class="discount-percentage">5%</span> </p>
                                                    </div>
                                                    <div class="col-sm-4 col-5">
                                                        <p class="">$700</p>
                                                    </div>
                                                    <div class="col-sm-8 col-7 grand-total-title">
                                                        <h4 class="">Grand Total : </h4>
                                                    </div>
                                                    <div class="col-sm-4 col-5 grand-total-amount">
                                                        <h4 class="">$14000</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>



=======
                    <div class="inv-action">

                        <a href="" class="btn btn-success">View Account</a>
                    </div>
>>>>>>> 8d4436eda532d4ecd69a3c9dcee16a7bea0dd548
                </div>

            </div>

        </div>
    </div>*@



<<<<<<< HEAD
        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-one shadow">
                <div class="widget-heading">
                    <h5 class="">Transactions</h5>
                </div>

                <div class="widget-content">
                    <div class="transactions-list">
                        <div class="t-item">
                            <div class="t-company-name">
                                <div class="t-icon">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                    </div>
                                </div>
                                <div class="t-name">
                                    <h4>Cash Sale</h4>
                                    <p class="meta-date"> To Edwin Mong'are 4 Aug 1:00PM</p>
                                </div>
=======
<div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget shadow">
        <div class="row">
            <div class="col-md-3 mb-4">
                <button id="myBtn" class="btn btn-primary btn-lg btn-block col-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Income Statement</button>
            </div>
            <div class="col-md-3 mb-4">
                <button id="myBtn" class="btn btn-primary btn-lg btn-block col-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Balance Sheet</button>
            </div>
            <div class="col-md-3 mb-4">
                <button id="myBtn" class="btn btn-primary btn-lg btn-block col-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Account Statement</button>
            </div>
            <div class="col-md-3 mb-4">
                <button id="myBtn" class="btn btn-primary btn-lg btn-block col-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Monthly Report</button>
            </div>
        </div>
    </div>
</div>
>>>>>>> 8d4436eda532d4ecd69a3c9dcee16a7bea0dd548

                            </div>
                            <div class="t-rate rate-dec">
                                <p><span><button class="btn btn-primary">View Details</button></span></p>
                            </div>
                        </div>
                    </div>

<<<<<<< HEAD
                    <div class="transactions-list">
                        <div class="t-item">
                            <div class="t-company-name">
                                <div class="t-icon">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                    </div>
                                </div>
                                <div class="t-name">
                                    <h4>Cash Sale</h4>
                                    <p class="meta-date"> To Edwin Mong'are 4 Aug 1:00PM</p>
                                </div>

                            </div>
                            <div class="t-rate rate-dec">
                                <p><span><button class="btn btn-primary">View Details</button></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="transactions-list">
                        <div class="t-item">
                            <div class="t-company-name">
                                <div class="t-icon">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                    </div>
                                </div>
                                <div class="t-name">
                                    <h4>Cash Sale</h4>
                                    <p class="meta-date"> To Edwin Mong'are 4 Aug 1:00PM</p>
                                </div>

                            </div>
                            <div class="t-rate rate-dec">
                                <p><span><button class="btn btn-primary">View Details</button></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="transactions-list">
                        <div class="t-item">
                            <div class="t-company-name">
                                <div class="t-icon">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                    </div>
                                </div>
                                <div class="t-name">
                                    <h4>Cash Sale</h4>
                                    <p class="meta-date"> To Edwin Mong'are 4 Aug 1:00PM</p>
                                </div>

                            </div>
                            <div class="t-rate rate-dec">
                                <p><span><button class="btn btn-primary">View Details</button></span></p>
                            </div>
                        </div>
                    </div>

                </div>
=======
<div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-table-two shadow">

        <div class="widget-heading">
            <h5 class="">Orders</h5>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table table-striped multi-table ">
                    <thead>
                        <tr>
                            <th><div class="th-content">Customer</div></th>
                            <th><div class="th-content">Product</div></th>
                            <th><div class="th-content">Invoice</div></th>
                            <th><div class="th-content th-heading">Price</div></th>
                            <th><div class="th-content">Status</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>

                    </tbody>
                </table>
>>>>>>> 8d4436eda532d4ecd69a3c9dcee16a7bea0dd548
            </div>
        </div>

<<<<<<< HEAD

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">

            <div class="widget widget-account-invoice-one shadow">

                <div class="widget-heading">
                    <h5 class="">Cashflow Breakdown</h5>
                </div>

                <div class="widget-content">
                    <div class="invoice-box">

                        <div class="acc-total-info">
                            <h5>Balance</h5>
                            <p class="acc-amount">Kshs 47,770</p>
                        </div>

                        <div class="inv-detail">
                            <div class="info-detail-1">
                                <p>Salaries</p>
                                <p>Kshs 10,000</p>
                            </div>
                            <div class="info-detail-2">
                                <p>Taxes</p>
                                <p>Kshs 12,000</p>
                            </div>
                            <div class="info-detail-3 info-sub">
                                <div class="info-detail">
                                    <p>Extras</p>
                                    <p>Kshs 23,000</p>
                                </div>
                                <div class="info-detail-sub">
                                    <p>Petty Cash</p>
                                    <p>Kshs 12,000</p>
                                </div>
                                <div class="info-detail-sub">
                                    <p>miscellaneous</p>
                                    <p>Kshs 10,000</p>
                                </div>
                            </div>
                        </div>

                        <div class="inv-action">
                            <a href="" class="btn btn-outline-dark">Summary</a>
                            <a href="" class="btn btn-danger">Transfer</a>
                        </div>
                    </div>
                </div>

            </div>
=======
<div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-table-two shadow ">

        <div class="widget-heading">
            <h5 class="">Pending Invoices</h5>
>>>>>>> 8d4436eda532d4ecd69a3c9dcee16a7bea0dd548
        </div>



        <div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-two shadow">

                <div class="widget-heading">
                    <h5 class="">Pending Payments</h5>
                </div>

                <div class="widget-content">
                    <div class="table-responsive ">
                        <table class="table multi-table">
                            <thead>
                                <tr>
                                    <th><div class="th-content">Customer</div></th>
                                    <th><div class="th-content">Product</div></th>
                                    <th><div class="th-content">Invoice</div></th>
                                    <th><div class="th-content th-heading">Price</div></th>
                                    <th><div class="th-content th-heading">Due Date</div></th>
                                    <th><div class="th-content">Status</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                                    <td><div class="td-content product-brand">Nike Sport</div></td>
                                    <td><div class="td-content">#76894</div></td>
                                    <td><div class="td-content "><span class="">Kshs 88.00</span></div></td>
                                    <td><div class="td-content "><span class="">12/04/2020</span></div></td>
                                    <td>
                                        <div class="btn-group">

                                            <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                Actions
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"> Actions</polyline></svg>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference1">

                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" style="color:red;" data-toggle="modal" data-target="#markAsPaidModal">Mark as paid</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!--Mark as paid  Modal -->
                        <div class="modal fade modal-notification" id="markAsPaidModal" tabindex="-1" role="dialog" aria-labelledby="standardModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" id="standardModalLabel">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <div class="icon-content">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                                        </div>
                                        <p class="modal-text">Are you sure you want to mark this pending bill as paid?</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Cancel</button>
                                        <button type="button" class="btn btn-success">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- mark as paid end Modal end -->
                    </div>
                </div>
            </div>
        </div>
<<<<<<< HEAD
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-two shadow">

                <div class="widget-heading">
                    <h5 class="">Orders</h5>
                </div>
=======
    </div>
</div>
>>>>>>> 8d4436eda532d4ecd69a3c9dcee16a7bea0dd548

                <div class="widget-content">
                    <div class="table-responsive ">
                        <table class="table multi-table">
                            <thead>
                                <tr>
                                    <th><div class="th-content">Customer</div></th>
                                    <th><div class="th-content">Product</div></th>
                                    <th><div class="th-content">Order No</div></th>
                                    <th><div class="th-content th-heading">Price</div></th>
                                    <th><div class="th-content th-heading">Order Date</div></th>
                                    <th><div class="th-content">Status</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                                    <td><div class="td-content product-brand">Nike Sport</div></td>
                                    <td><div class="td-content">#76894</div></td>
                                    <td><div class="td-content "><span class="">Kshs 88.00</span></div></td>
                                    <td><div class="td-content "><span class="">12/04/2020</span></div></td>

<<<<<<< HEAD
                                </tr>

                            </tbody>
                        </table>
                        <!--View order details Modal -->
                        <div class="modal fade modal-notification" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="standardModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" id="standardModalLabel">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <div class="icon-content">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                                        </div>
                                        <p class="modal-text">Are you sure you want to mark this pending bill as paid?</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Cancel</button>
                                        <button type="button" class="btn btn-success">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- View order details end Modal end -->
                    </div>
                </div>
            </div>
        </div>


        <div class="layout-spacing">
            
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="widget shadow">
                        <div class=" ">
                            <div class="calendar-upper-section">
                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <div class="labels">
                                            <p class="label label-primary">Work</p>
                                            <p class="label label-warning">Travel</p>
                                            <p class="label label-success">Personal</p>
                                            <p class="label label-danger">Important</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <form action="javascript:void(0);" class="form-horizontal mt-md-0 mt-3 text-md-right text-center">
                                            <button id="myBtn" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Add Activity</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="calendar"></div>
                        </div>
                    </div>
=======


<div class="col-md-12 col-sm-12 col-lg-12 layout-spacing">

    <div class="widget widget-chart-one shadow">
        <div class="widget-heading">
            <h5 class="">Profit</h5>
            <ul class="tabs tab-pills">
                <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Daily</a></li>
                <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Monthly</a></li>
                <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Yearly</a></li>
            </ul>
        </div>

        <div class="widget-content">
            <div class="tabs tab-content">
                <div id="content_1" class="tabcontent">
                    <div id="revenueMonthly"></div>
>>>>>>> 8d4436eda532d4ecd69a3c9dcee16a7bea0dd548
                </div>

                <!-- The Modal -->
                <div id="addEventsModal" class="modal animated fadeIn">

                    <div class="modal-dialog modal-dialog-centered">

                        <!-- Modal content -->
                        <div class="modal-content">

                            <div class="modal-body">

                                <span class="close">&times;</span>

                                <div class="add-edit-event-box">
                                    <div class="add-edit-event-content">
                                        <h5 class="add-event-title modal-title">Add Events</h5>
                                        <h5 class="edit-event-title modal-title">Edit Events</h5>

                                        <form class="">

                                            <div class="row">

                                                <div class="col-md-12">
                                                    <label for="start-date" class="">Event Title:</label>
                                                    <div class="d-flex event-title">
                                                        <input id="write-e" type="text" placeholder="Enter Title" class="form-control" name="task">
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-12">
                                                    <div class="form-group start-date">
                                                        <label for="start-date" class="">From:</label>
                                                        <div class="d-flex">
                                                            <input id="start-date" placeholder="Start Date" class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-12">
                                                    <div class="form-group end-date">
                                                        <label for="end-date" class="">To:</label>
                                                        <div class="d-flex">
                                                            <input id="end-date" placeholder="End Date" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="start-date" class="">Event Description:</label>
                                                    <div class="d-flex event-description">
                                                        <textarea id="taskdescription" placeholder="Enter Description" rows="3" class="form-control" name="taskdescription"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-badge">
                                                        <p class="">Badge:</p>

                                                        <div class="d-sm-flex d-block">
                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-primary">
                                                                    <input type="radio" class="new-control-input" name="marker" value="bg-primary">
                                                                    <span class="new-control-indicator"></span>Work
                                                                </label>
                                                            </div>

                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-warning">
                                                                    <input type="radio" class="new-control-input" name="marker" value="bg-warning">
                                                                    <span class="new-control-indicator"></span>Travel
                                                                </label>
                                                            </div>

                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input" name="marker" value="bg-success">
                                                                    <span class="new-control-indicator"></span>Personal
                                                                </label>
                                                            </div>

                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-danger">
                                                                    <input type="radio" class="new-control-input" name="marker" value="bg-danger">
                                                                    <span class="new-control-indicator"></span>Important
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button id="discard" class="btn" data-dismiss="modal">Discard</button>
                                <button id="add-e" class="btn">Add Task</button>
                                <button id="edit-event" class="btn">Save</button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
<<<<<<< HEAD


    </div>

=======
    </div>

</div>
>>>>>>> 8d4436eda532d4ecd69a3c9dcee16a7bea0dd548
