@{
    ViewData["Title"] = "Eko Biashara|Business Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        
        
        <div class=" animated-underline-content">

            <ul class="nav nav-tabs  mb-3" id="animateLine" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="animated-underline-home-tab" data-toggle="tab" href="#animated-underline-home" role="tab" aria-controls="animated-underline-home" aria-selected="true">
                        Stock
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="animated-underline-profile-tab" data-toggle="tab" href="#animated-underline-profile" role="tab" aria-controls="animated-underline-profile" aria-selected="false">
                        Raw Materials
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="animated-underline-contact-tab" data-toggle="tab" href="#animated-underline-contact" role="tab" aria-controls="animated-underline-contact" aria-selected="false">
                        Work In Progress
                    </a>
                </li>
               
            </ul>

            <div class="tab-content" id="animateLineContent-4">
                <div class="tab-pane fade show active" id="animated-underline-home" role="tabpanel" aria-labelledby="animated-underline-home-tab">
                    <p class="mb-4">
                        Stock
                    </p>

                 
                </div>
                <div class="tab-pane fade" id="animated-underline-profile" role="tabpanel" aria-labelledby="animated-underline-profile-tab">
                    <div class="media">
                      Raw Materials
                    </div>
                </div>
                <div class="tab-pane fade" id="animated-underline-contact" role="tabpanel" aria-labelledby="animated-underline-contact-tab">
                    <p class="dropcap  dc-outline-primary">
                     Categories
                    </p>
                </div>
               
            </div>

           
        </div>
    </div>
</div>