@{
    ViewData["Title"] = "Eko Biashara|Business Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row invoice">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="doc-container">
            <div class="invoice-container">
                <div id="ct" class="">

                    <div class="invoice-00001">
                        <div class="content-section  animated animatedFadeInUp fadeInUp">

                            <div class="row inv--head-section">

                                <div class="col-sm-6 col-12">
                                    <h3 class="in-heading">Quotation</h3>
                                </div>
                                <div class="col-sm-6 col-12 align-self-center text-sm-right">
                                    <div class="company-info">
                                        <img src="~/assets/img/logo_green.png" style="height:80px;" alt="Alternate Text" />
                                        <h5 class="inv-brand-name"> My Business One</h5>
                                    </div>
                                </div>

                            </div>

                            <div class="row inv--detail-section">

                                <div class="col-sm-7 align-self-center">
                                    <p class="inv-to">Quotation To</p>
                                </div>
                                <div class="col-sm-5 align-self-center  text-sm-right order-sm-0 order-1">
                                    <p class="inv-detail-title">From : My Business One</p>
                                </div>

                                <div class="col-sm-7 align-self-center">
                                    <p class="inv-customer-name">Allan Koech</p>
                                    <p class="inv-street-addr">Lower kabete. 123</p>
                                    <p class="inv-email-address">allan@gmail.com</p>
                                </div>
                                <div class="col-sm-5 align-self-center  text-sm-right order-2">
                                    <p class="inv-list-number"><span class="inv-title">Invoice Number : </span> <span class="inv-number">[quotataion number]</span></p>
                                    <p class="inv-created-date"><span class="inv-title">Invoice Date : </span> <span class="inv-date">1 feb 2020</span></p>
                                   
                                </div>
                            </div>

                            <div class="row inv--product-table-section">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="">
                                                <tr>
                                                    <th scope="col">S.No</th>
                                                    <th scope="col">Items</th>
                                                    <th class="text-right" scope="col">Qty</th>
                                                    <th class="text-right" scope="col">Unit Price</th>
                                                    <th class="text-right" scope="col">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Electric Shaver</td>
                                                    <td class="text-right">20</td>
                                                    <td class="text-right">Kshs 300</td>
                                                    <td class="text-right">Kshs 2800</td>
                                                </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-sm-5 col-12 order-sm-0 order-1">
                                    <div class="inv--payment-info">
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <h6 class=" inv-title">Payment Info:</h6>
                                            </div>
                                            <div class="col-sm-4 col-12">
                                                <p class=" inv-subtitle">Bank Name: </p>
                                            </div>
                                            <div class="col-sm-8 col-12">
                                                <p class="">Bank of America</p>
                                            </div>
                                            <div class="col-sm-4 col-12">
                                                <p class=" inv-subtitle">Account Number : </p>
                                            </div>
                                            <div class="col-sm-8 col-12">
                                                <p class="">1234567890</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-12 order-sm-1 order-0">
                                    <div class="inv--total-amounts text-sm-right">
                                        <div class="row">
                                            <div class="col-sm-8 col-7">
                                                <p class="">Sub Total: </p>
                                            </div>
                                            <div class="col-sm-4 col-5">
                                                <p class="">$13300</p>
                                            </div>
                                            <div class="col-sm-8 col-7">
                                                <p class="">Tax Amount: </p>
                                            </div>
                                            <div class="col-sm-4 col-5">
                                                <p class="">$700</p>
                                            </div>
                                            <div class="col-sm-8 col-7">
                                                <p class=" discount-rate">Discount : <span class="discount-percentage">5%</span> </p>
                                            </div>
                                            <div class="col-sm-4 col-5">
                                                <p class="">$700</p>
                                            </div>
                                            <div class="col-sm-8 col-7 grand-total-title">
                                                <h4 class="">Grand Total : </h4>
                                            </div>
                                            <div class="col-sm-4 col-5 grand-total-amount">
                                                <h4 class="">$14000</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
