@{
    ViewData["Title"] = "Eko Biashara|Business Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form id="general-info" class="section general-info">
                        <div class="info">
                            <h6 class="">Account Information</h6>
                            <div class="row">
                                <div class="col-lg-12 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4 text-center">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="~/assets/img/default_upload.png" data-max-file-size="2M" />
                                                <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Profile Picture</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="fullName">Full Name</label>
                                                            <input type="text" class="form-control mb-4" id="fullName" placeholder="Full Name" value="Edwin Mong'are">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="fullName">Email Address</label>
                                                            <input type="email" class="form-control mb-4" id="fullName" placeholder="Full Name" value="edwinmongare15@gmail.com">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label for="profession">Profession</label>
                                                    <input type="password" class="form-control mb-4" id="profession" placeholder="New Password" value="">
                                                    <input type="password" class="form-control mb-4" id="profession" placeholder="Confirm New Password" value="">
                                                </div>
                                               
                                                <button type="submit" class="btn btn-primary mt-2 col-12 s">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


              
            </div>
        </div>


   


       