   <!-- income statement Modal content -->
<div id="addEventsModal" class="modal animated fadeIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">

                <span data-dismiss="modal" class="close">&times;</span>

                <div class="add-edit-event-box">
                    <div class="add-edit-event-content">
                        <h5 class="add-event-title modal-title">Income Statement</h5>
                        <h5 class="edit-event-title modal-title"></h5>

                        <form class="">

                            <div class="row">



                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-group start-date">
                                        <label for="start-date" class="">From:</label>
                                        <div class="d-flex">
                                            <input id="start-date" placeholder="Start Date" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-group end-date">
                                        <label for="end-date" class="">To:</label>
                                        <div class="d-flex">
                                            <input id="end-date" placeholder="End Date" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="modal-footer">
                                        @*<button id="discard" class="btn col-12" data-dismiss="modal">Dis</button>*@
                                        <button id="add-e" class="btn col-12">Get Report</button>
                                        <button id="edit-event" class="btn"></button>
                                    </div>
                                </div>
                            </div>





                        </form>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<!-- income statement Modal end content -->

<!-- balance sheet statement Modal content -->
<div id="balanceModal" class="modal animated fadeIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">

                <span data-dismiss="modal" class="close">&times;</span>

                <div class="add-edit-event-box">
                    <div class="add-edit-event-content">
                        <h5 class="add-event-title modal-title">Income Statement</h5>
                        <h5 class="edit-event-title modal-title"></h5>

                        <form class="">

                            <div class="row">



                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-group start-date">
                                        <label for="start-date" class="">From:</label>
                                        <div class="d-flex">
                                            <input id="start-date" placeholder="Start Date" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-group end-date">
                                        <label for="end-date" class="">To:</label>
                                        <div class="d-flex">
                                            <input id="end-date" placeholder="End Date" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="modal-footer">
                                        @*<button id="discard" class="btn col-12" data-dismiss="modal">Dis</button>*@
                                        <button id="add-e" class="btn col-12">Get Report</button>
                                        <button id="edit-event" class="btn"></button>
                                    </div>
                                </div>
                            </div>





                        </form>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<!-- balance sheet statement Modal end content -->
<div class="container-fluid">

    <div class="row">

        <div class="col-md-3 mb-4">
            <form action="javascript:void(0);" class="form-horizontal  text-md-right text-center">
                <button id="myBtn" class="btn btn-primary col-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Income Statement</button>
            </form>
        </div>
        <div class="col-md-3 mb-4">
            <form action="javascript:void(0);" class="form-horizontal  text-md-right text-center">
                <button id="myBtn" class="btn btn-primary col-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Balance Sheet</button>
            </form>
        </div>
        <div class="col-md-3 mb-4">
            <form action="javascript:void(0);" class="form-horizontal  text-md-right text-center">
                <button id="myBtn" class="btn btn-primary col-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Account Statement</button>
            </form>
        </div>
        <div class="col-md-3 mb-4">
            <form action="javascript:void(0);" class="form-horizontal  text-md-right text-center">
                <button id="myBtn" class="btn btn-primary col-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Monthly Report</button>
            </form>
        </div>
    </div>
</div>
