
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 ">


                <div class=" br-6">
                    <div class="table-responsive">
                        <table id="html5-extension3" class="table multi-table  table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                    <th>Amount Due</th>
                                    <th>Receipts</th>
                                    <th>Mini Receipts</th>
                                    <th>Invoices</th>
                                    <th>Collect Payment</th>
                                    <th>Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Transaction Date</td>
                                    <td>Customer</td>
                                    <td>Amount</td>
                                    <td>Amount Due</td>
                                    <td>Receipts</td>
                                    <td>Mini Receipts</td>
                                    <td>Invoices</td>
                                    <td>Collect Payment</td>
                                    <td>Timestamp</td>


                                </tr>





                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
