

    <div class="row" id="cancel-row">

        <!-- Add overhead Modal -->
        <div class="modal fade " id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header" id="registerModalLabel">
                        <h4 class="modal-title">Add An Overhead</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
                    </div>
                    <div class="modal-body">
                        <form class="mt-0">
                            <div class="form-group mb-4">
                                <label for="fullName">Name</label>
                                <input type="text" class="form-control" id="lFullName" placeholder="Enter Name">
                            </div>
                            <div class="form-group mb-4">
                                <label for="fullName">
                                    Transaction Date
                                </label>
                                <input type="date" class="form-control" id="lPassword" placeholder="Select Transcation Date">
                            </div>
                            <div class="form-group mb-4">
                                <select class="selectpicker form-control" multiple title=" Select Payment Account">
                                    <option>Cash</option>

                                </select>
                            </div>
                            <div class="form-group mb-4">
                                <label for="fullName">
                                    Amount
                                </label>
                                <input type="number" class="form-control" id="lPassword" placeholder="Enter Amount">
                            </div>
                            <div class="form-group mb-4">
                                <label for="fullName">
                                    Notes
                                </label>
                                <input type="text" class="form-control" id="lPassword" placeholder="Overhead Notes">
                            </div>
                            <button type="submit" class="btn btn-primary mt-2 mb-2 btn-block">Submit</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <!-- Add overhead Modal end -->

      


      

        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <!-- Button Add Branch trigger modal -->

            <button type="button" class="btn btn-secondary mb-2 ml-3" data-toggle="modal" data-target="#addExpenseModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                Add overhead
            </button>


            <div class=" br-6">
                <div class="table-responsive  mb-4 mt-4">
                    <table id="html5-extension" class="table table-striped multi-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Transaction Date</th>
                                <th>Overhead Description</th>
                                <th>Amount</th>
                                <th>Notes</th>
                                <th>Timestamp</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Transaction Date</td>
                                <td>Overhead Description</td>
                                <td>Amount</td>
                                <td>Notes</td>
                                <td>Timestamp</td>

                            </tr>





                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>