
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 ">


            <div class=" br-6">
                <div class="table-responsive">
                    <table id="html5-extension3" class="table multi-table  table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Quotation Date</th>
                                <th>Customer</th>
                                <th>Amount</th>
                                <th>Quotes</th>
                                <th>Timestamp</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Quotation Date</td>
                                <td>Customer</td>
                                <td>Amount</td>
                                <td>Quotes</td>
                                <td>Timestamp</td>
                                <td>
                                    <button type="button" class="btn btn-info position-relative mt-3 mb-3 ml-2">
                                        <span>Convert To Sales</span>
                                        
                                    </button>
                                </td>


                            </tr>





                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>